.login-main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  color: #5A9367;
  margin-top: 250px;
}

.login-button {
  width: 340px;
  padding: 10px;
  border-radius: 4px;
  background: #5A9367;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  border: none;
  margin-left: 35px;
  margin-bottom: 20px;
}

.login-button:hover {
  cursor: pointer;
}

.button {
  margin-left: 290px;
}

.no-account {
  margin-left: 25px;
  font-weight: 700;
  color: #5A9367;
  text-decoration: none;
  vertical-align: middle;
}

.material-symbols-rounded {
  color: #5A9367;
  vertical-align: middle;
}